@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #577590;
}


.App-header {
  min-height: 100vh;
  background-color: #577590;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

svg {
  opacity: 0;
}
